@import "../../imports/colors";

.navbar-container {
	height: 75px;
	display: flex;
	align-items: center;
	.items {
		display: flex;
		width: 100%;
		margin: 10px;
		justify-content: space-between;
		align-items: center;
		// padding-top: 2rem;
		// padding-bottom: 2rem;
		h2 {
			font-size: 1.5rem;
		}
		img {
			// height: 85px;
			width: 180px;
			height: auto;
		}
	}
}
